FORMAT: 1A
HOST: http://sandbox.api.colisweb.com

# Colisweb API
L'API **Colisweb** permet d'effectuer une demande de livraison en moins de 2 heures ou sur rendez-vous.

Une clé API, obtenue auprès de Colisweb, est nécéssaire.
Pou en obtenir une, effectuez une demande par mail à support@colisweb.com  

Deux environnements sont disponibles :  

**sandbox** : Environnement "bac à sable" pour vos tests avant mise en production.   
http://sandbox.api.colisweb.com

**production** : Après validation des tests en sandbox.    
http://api.colisweb.com

## URL d'appels
L'url d'appel à l'api est:
http://<strong>environnement</strong>/<strong>version</strong>/<strong>end_point</strong>

**environnement** = environnement sandbox ou production   
**version** = **4**  
**end_point** = Méthodes décrites dans ce document.

## Codes d'erreurs

<table>
  <tr><th>Error name</th><th>HTTP Status</th><th>Description</th></tr>
  <tr>
     <td>wrong_api_key</td>
     <td>401 Unauthorized</td>
     <td>Clé API manquante / inconnue</td>
  </tr>
  <tr>
     <td>missing_parameters</td>
     <td>400 Bad Request</td>
     <td>Il manque des paramètres</td>
  </tr>
  <tr>
     <td>fail_to_confirm_delivery</td>
     <td>400 Bad Request</td>
     <td>Le commande de livraison a échoué</td>
  </tr>
  <tr>
     <td>no_delivery_options</td>
     <td>404 not found</td>
     <td>Aucune disponibilité de livraison</td>
  </tr>
  <tr>
     <td>missing_delivery</td>
     <td>404 not found</td>
     <td>Numéro de commande inconnue</td>
  </tr>
</table>

# Group Livraisons


## deliveries/options

***Exemple d'utilisation*** :     

Appeler cette méthode dans le tunnel de commande, avant affichage des méthodes de livraison afin de proposer les options du service de livraison colisweb.   
Selon la réponse de l'API, vous pourrez ainsi gérer l'affichage du service "Livraison instantanée" et sur "Sur rendez vous" :  
+ Afficher les deux modes de livraison   
+ Afficher uniquement le mode sur Rendez-vous (si la requête est effectuée en dehors des horaires d'ouverture magasin)   
+ Aucun des deux modes (point de livraison hors périmêtre par exemple)

**Une delivery-option renvoie les attributs suivants** :

+ **now** (hash) ... Disponibilité de l'offre "instantanée".
    + **available** (boolean) ... livraison maintenant dans les x minutes disponible ou non.
    + **slot_size** (integer) ... Taille du créneau horaire en minutes.
+ **planned** (array of hashes) ... Plages horaire de livraison sur rendez-vous
    + **starts_at** (datetime) ... Début d'un créneau horaire.
    + **ends_at** (datetime) ... Fin d'un créneau horaire.
    + **slot_size** (integer) ... Taille du créneau horaire en minutes.
+ **price** (integer) ... Coût HT de la livraison en centimes

**Les paramètres de requête sont les suivants** :
+ **api_key** (required, string) ... Clé api client colisweb
+ **slot_size** (optional, number) ... Taille de la plage de livraison demandée en minutes. Exemple : 120 pour une livraison en 2h   
Ce paramètre permet d'écraser la valeur configurée par défaut dans notre système.
+ **pickup_point** (required, hash) ... Informations du point de retrait
    + **store_code** (required, string) ... Code magasin de retrait   
Si la valeur passée est nul, Colisweb sélectionne de lui même le magasin de retrait le plus adapté géographiquement parmis ceux référencés. 
+ **shipping_point** (required, hash ) ... Informations du point de livraison
    + **zip_code** (required, string) ... Code postal.
+ **packaging** (required, hash) ... informations sur le packaging
    + **packets** (required, array of hashes) ... informations sur les colis
        + **length** (required, integer) ... Longueur du colis (en cm)
        + **width** (required, integer) ... largeur du colis (en cm)
        + **height** (required, integer) ... hauteur du colis (en cm)
        + **weight** (required, integer) ... poids du colis (en grammes)


### Voir les détails d'une Delivery-Options [POST]

+ Request (application/json)

            {
                "api_key": "3025688655a161aeb167b7b33f03c013",
                "slot_size": 120,
                "pickup_point": {
                    "store_code": "1024864"
                },
                "shipping_point": {
                    "zip_code": 75001
                },
                "packaging": {
                    "packets": [
                        {
                            "weight": 1,
                            "height": 14,
                            "length": 15,
                            "width": 16
                        },
                        {
                            "weight": 2,
                            "height": 24,
                            "length": 25,
                            "width": 26
                        }
                    ]
                }
            }


+ Response 201 (application/json)

                {
                    "response" : {
                        "now" : {
                            "available": true,
                            "slot_size": 120
                        },
                        "planned" : [
                            {
                                "starts_at": "2015-04-22T10:00:00+00:00",
                                "ends_at": "2015-04-22T12:00:00+00:00",
                                "slot_size": 120
                            },
                            {
                                "starts_at": "2015-04-22T12:00:00+00:00",
                                "ends_at": "2015-04-22T14:00:00+00:00",
                                "slot_size": 120
                            },
                            {
                                "starts_at": "2015-04-22T14:00:00+00:00",
                                "ends_at": "2015-04-22T15:00:00+00:00",
                                "slot_size": 60
                            },
                            {
                                "starts_at": "2015-04-23T10:00:00+00:00",
                                "ends_at": "2015-04-23T12:00:00+00:00",
                                "slot_size": 120
                            },
                            {
                                "starts_at": "2015-04-23T12:00:00+00:00",
                                "ends_at": "2015-04-23T14:00:00+00:00",
                                "slot_size": 120
                            },
                            {
                                "starts_at": "2015-04-23T14:00:00+00:00",
                                "ends_at": "2015-04-23T15:00:00+00:00",
                                "slot_size": 60
                            }
                        ],
                        "price" : "1200"
                    }
                }


## Book-delivery [/3/book_delivery]

Permet d'effectuer une pré-demande de livraison.   
Cette demande sera ensuite à confirmer dans la méthode "confirm-delivery"

**Exemple d'utilisation :**     

Après que l'internaute a fait son choix de livraison et de plage horaire.   

**Un book-delivery renvoie les attributs suivants** :

+ ***delivery_id*** (integer) - Identifiant de commande qui sera utilisé pour effectuer la confirmation.
+ **price** (integer) ... Coût HT de la livraison en centimes


**Les paramètres de requête sont les suivants** :
+ **api_key** (required, string) ... Clé api client colisweb
+ **starts_at** (required, datetime) ... Date et heure de début de la plage de livraison.   
    + Pour passer une demande en mode "Instantané", passez la date / heure actuelle.
Vous pouvez passer la valeur que vous souhaitez, cependant les valeurs fournies par les delivery-options garantissent une réponse positive de l'API
+ **slot_size** (required, number) ... Taille de la plage de livraison demandée en minutes.   
Vous pouvez passer la valeur que vous souhaitez, cependant les valeurs fournies par les delivery-options garantissent une réponse positive de l'API
+ **pickup_point** (required, hash) ... Informations du point de retrait.
    + **stores_codes** (required, array of strings) ... Liste des codes magasins de retrait.   
        + Si plusieurs codes magasins sont passés Colisweb prend le premier de la liste comme point de retrait prioritaire.  
        + Si la valeur passée est nul, Colisweb sélectionne de lui même le magasin de retrait le plus adapté géographiquement parmis ceux référencés
+ **shipping_point** (required, hash ) ... Informations du point de livraison
    + **society** (optional, string) ... Société.
    + **first_name** (optional, string) ... Prénom.
    + **last_name** (required, string) ... Nom.
    + **email** (required, string) ... Email.
    + **primary_phone** (required, string) ... Numéro de téléphone primaire.
    + **secondary_phone** (optional, string) ... Numéro de téléphone secondaire.
    + **line1** (required, string) ... Adresse de livraison.
    + **line2** (optional, string) ... Complément d'adresse.
    + **additional_informations** (optional, string) ... Informations supplémentaire (digicode, etc.)
    + **zip_code** (required, string) ... Code postal.
    + **city** (required, string) ... Ville.
    + **country** (required, string) ... Pays.
    + **send_delivery_statuses** (optional, Boolean) ... Envoyer les statuts de livraison par sms/email au consommateur 
        + True par défaut, dépend cependant de la configuration globale au niveau de l'enseigne lors de la contractualisation avec Colisweb.
    + **send_survey** (optional, Boolean) ... Envoyer  l'enquête de satisfaction au consommateur 
        + True par défaut, dépend cependant de la configuration globale au niveau de l'enseigne lors de la contractualisation avec Colisweb.
+ **packaging** (required, hash) ... Informations sur le packaging
    + **products_description** (optional, string) ... Typologie / dénomination des produits. Exemple : micro-onde.
    + **packets** (required, array of hashes) ... Informations sur les colis
        + **length** (required, integer) ... Longueur du colis (en cm)
        + **width** (required, integer) ... Largeur du colis (en cm)
        + **height** (required, integer) ... Hauteur du colis (en cm)
        + **weight** (required, integer) ... Poids du colis (en grammes)


### Voir les détails d'un book-delivery [POST]

+ Request (application/json)

            {
                "api_key": "3025688655a161aeb167b7b33f03c013",
                "starts_at": "2015-04-22T16:00:00+00:00",
                "slot_size": "120",
                "pickup_point": {
                    "stores_codes": ["100001", "100002"]
                },
                "shipping_point": {
                    "society": "Twelve factors & C",
                    "first_name": "Helmout",
                    "last_name": "Ardelpik",
                    "email": "helmoutardelpik@gmail.com",
                    "primary_phone": "0694385693",
                    "secondary_phone": "0354678942",
                    "line1": "165, Av des champs Elysées",
                    "line2": "Batiment Leblanc",
                    "additional_informations": "Digicode B345, 3 éme etage, accès parking",
                    "zip_code": 75001,
                    "city": "Paris",
                    "country": "FR",
                    "send_delivery_statuses": true,
                    "send_survey": true
                },
                "packaging": {
                    "products_description": "Ipad mini",
                    "packets": [
                        {
                            "weight": 1,
                            "height": 14,
                            "length": 15,
                            "width": 16
                        },
                        {
                            "weight": 2,
                            "height": 24,
                            "length": 25,
                            "width": 26
                        }
                    ]
                }
            }


+ Response 201 (application/json)

                {
                    "response":{
                        "delivery_id": 1234,
                        "price": 1600
                    }
                }

## confirm-delivery [/3/confirm_delivery]

Confirme la commande créée via la methode "book-delivery".   

***Attention*** : Un maximum de 15 minutes est autorisé entre l'appel au book-delivery et cet appel.   
Au delà une erreur "delivery_has_expired" est renvoyée.

**Exemple d'utilisation :**     

Aprés la validation du paiement.

**Un confirm-delivery renvoie les attributs suivants** :

+ ***confirmed*** (boolean) ... la valeur "True" indique que la livraison a bien été prise en compte.

**Les paramètres de requête sont les suivants** :

+ **api_key** (required, string) ... Clé api client colisweb
+ **delivery_id** (required, integer) ... ID commande colisweb récupérée lors de l'appel à la méthode book-delivery
+ **order_ref** (required, string) ... Référence commande de votre plateforme  
(permet au transporteur d'identifier le colis à retirer en boutique)
+ **order_id** (optional, string) ... ID commande interne à votre plateforme

### Voir les détails d'un book-delivery [PUT]

+ Request (application/json)

            {
                "api_key": "3025688655a161aeb167b7b33f03c013",
                "delivery_id": 1234,
                "order_ref": "R10390",
                "order_id": "987663"
            }


+ Response 201 (application/json)

                {
                    "response":{
                        "confirmed": true
                    }
                }
                
# Deliveries API Root [/deliveries]
