FORMAT: 1A
HOST: http://sandbox.api.colisweb.com

# Colisweb API v4

Ce document décrit les endpoints de l'API que fournit **Colisweb** ainsi que les workflows d'utilisations de cette API qui permettent d'effectuer certaines actions complexes.

## Autorisations d'accès
Une clé API est nécéssaire pour l'utilisation de cette API.
Afin d'obtenir une clé, vous devez effectuer une demande par mail à support@colisweb.com.

## Environnements
Deux environnements sont disponibles :  

**sandbox** : Environnement "bac à sable" pour vos tests avant mise en production.
http://sandbox.api.colisweb.com

**production** : Après validation des tests en sandbox.
http://api.colisweb.com

## URL d'appels
L'url d'appel à l'API est:   
https://[sandbox.]api.colisweb/4/**end_point**

**end_point** = Méthodes décrites dans ce document

## Codes d'erreurs

| Error name               | HTTP Status      | Description                       |
| ------------------------ | ---------------- | --------------------------------- |
| wrong_api_key            | 401 Unauthorized | Clé API manquante / inconnue      |
| missing_parameters       | 400 Bad Request  | Il manque des paramètres          |
| fail_to_confirm_delivery | 400 Bad Request  | Le commande de livraison a échoué |
| no_delivery_options      | 404 not found    | Aucune disponibilité de livraison |
| missing_delivery         | 404 not found    | Numéro de commande inconnue       |

# Group Deliveries

## Obtenir les options de livraison disponbiles [/deliveries/options]

Permet de récupérer les options de livraisons disponibles par rapport à différents paramètres.

### Paramètres de requête

+ **api_key** *(required, string)* : Clé API Colisweb.
+ **slot_size** *(optional, integer)* : Taille de la plage de livraison demandée (en minutes).   
Exemple : 120 pour une livraison en 2h.   
Ce paramètre permet d'écraser la valeur par défaut de Colisweb.
+ **pickup_point** *(required, hash)* : Informations du point de retrait.
  + **zip_code** *(required, string)* : Code postal du point de retrait.
+ **shipping_point** *(required, hash)* : Informations du point de livraison.
  + **zip_code** *(required, string)* : Code postal du point de livraison.
+ **packets** *(required, array of hashes)* : Informations sur les colis.
  + **length** *(required, float)* : Longueur du colis (en cm).
  + **width** *(required, float)* : largeur du colis (en cm).
  + **height** *(required, float)* : hauteur du colis (en cm).
  + **weight** *(required, float)* : poids du colis (en grammes).

### Contenu de la réponse

+ **now** *(hash)* : Disponibilité de l'offre "instantanée.
  + **available** *(boolean)* : Livraison "instantanée" disponible ou non.
  + **slot_size** *(integer)* : Taille du créneau horaire en minutes de la livraison "instantanée" (en minutes).
  + **price** *(integer)* : Coût HT de la livraison "instantanéé" (en euro).
+ **planned** *(array of hashes)* : Plages horaires de livraison sur rendez-vous.
  + **starts_at** *(datetime UTC)* : Début d'un créneau horaire.
  + **ends_at** *(datetime UTC)* : Fin d'un créneau horaire.
  + **slot_size** *(integer)* : Taille du créneau horaire (en minutes).
  + **price** *(float)* : Coût HT de la livraison dans ce créneau (en euro).

### POST

+ Request (application/json)

{
  "api_key": "3025688655a161aeb167b7b33f03c013",
  "slot_size": 120,
  "pickup_point": {
    "zip_code": "75012"
  },
  "shipping_point": {
    "zip_code": "75001"
  },
  "packets": [
    {
      "weight": 1.55,
      "height": 14.55,
      "length": 15.55,
      "width": 16.55
    },
    {
      "weight": 2.55,
      "height": 24.55,
      "length": 25.55,
      "width": 26.55
    }
  ]
}

+ Response 200 (application/json)

{
  "response" : {
    "now" : {
      "available": true,
      "slot_size": 120,
      "price" : 5.55
    },
    "planned" : [
      {
        "starts_at": "2015-04-22T10:00:00+00:00",
        "ends_at": "2015-04-22T12:00:00+00:00",
        "slot_size": 120,
        "price" : 5.55
      },
      {
        "starts_at": "2015-04-22T12:00:00+00:00",
        "ends_at": "2015-04-22T14:00:00+00:00",
        "slot_size": 120,
        "price" : 5.55
      },
      {
        "starts_at": "2015-04-22T14:00:00+00:00",
        "ends_at": "2015-04-22T15:00:00+00:00",
        "slot_size": 60,
        "price" : 5.55
      },
      {
        "starts_at": "2015-04-23T10:00:00+00:00",
        "ends_at": "2015-04-23T12:00:00+00:00",
        "slot_size": 120,
        "price" : 5.55
      },
      {
        "starts_at": "2015-04-23T12:00:00+00:00",
        "ends_at": "2015-04-23T14:00:00+00:00",
        "slot_size": 120,
        "price" : 5.55
      },
      {
        "starts_at": "2015-04-23T14:00:00+00:00",
        "ends_at": "2015-04-23T15:00:00+00:00",
        "slot_size": 60,
        "price" : 5.55
      }
    ]
  }
}

## Commander une livraison [/deliveries/book]

Permet d'effectuer une pré-commande de livraison.   
Cette pré-commande sera ensuite à confirmer dans la méthode "Confirmer une livraison".

### Types de livraisons disponibles

Via ce endpoint vous êtes en mesure de pré-commander **quatres types de livraisons** :

+ **B2B** (réapprovisionnement, etc.)
+ **B2C** (livraison d'un client final,  etc.)
+ **C2B** (retour magasin, etc.)
+ **C2C** (livraison entres deux adresses quelconque, etc.)

Nous identifions le type de livraison que vous commandez suivant les informations sur les adresses que vous nous envoyez.

Dans la description des paramètres de requête de ce endpoint, les adresses sont à passer dans les paramètres **pickup_point** *(point de retrait)* et **shipping_point** *(point de livraison)*, qui sont de type **Address**.   

Une **Address** peut être de deux types : 
 + **ConsummerAddress** : Une adresse quelconque.   
 Par exemple, l'adresse d'un de vos client final que vous souhaitez livrer.
 + **StoreAddress** : Une adresse d'un de vos magasins.

#### Description d'une **StoreAddress**

Nous enregistrons les informations de vos magasins dans notre système au moment de la signature du contrat donc vous n'avez pas besoin de nous envoyer l'adresse du magasin.   
Seul l'identifiant unique de ce magasin est nécessaire pour ne puissions l'identifier.

Cependant, plusieurs cas de figure sont possibles :   

1. **Vous gérer déjà en interne vos magasins avec des identifiants uniques et nous travaillons avec vous avec ces mêmes identifiants uniques car vous nous les avez transmis.**   Dans ce cas de figure, vous n'aurez qu'à nous poussez l'identifiant unique du magasin qui intervient dans la livraison.
2. **Vous n'avez pas ce type d'identiants pour vos magasins ou nous n'y avons pas accés** :
   1. **Vous voulez nous laisser choisir le magasin le plus approprié.**
(Uniquement possible si le magasin dont nous parlons est le point de retrait. Il nous est impossible de deviner quel magasin vous voulez livrer dans le cas d'une livraison **C2B** par exemple.)
   2. **Vous souhaitez nous indiquer de quel magasin la livraison doit partir ou arriver.**   
   Dans notre système, un magasin est toujours identifié par un identifiant unique, que vous nous fournissez ou que nous générons.   
   Si vous n'en avez pas dans votre système ou que nous n'avons accés à vos identifiants uniques, vous pouvez utiliser les notres.    
   Nos identiants de vos magasins sont récupérables via le endpoint [```/stores```].
   Une fois récupéré, vous n'avez plus qu'à utiliser ces identifiants.
  

un **StoreAddress** ne contiendra que les informations suivantes :



#### ConsummerAddress

Voici la description de ce qu'est une **Address** :

+ **stores_code** *(optional, string)* : Code magasin.   
  + **Si rempli**, alors le point retrait sera considéré comme un magasin. Tous les autres paramètres seront donc inutiles et seront ignorés car nous possédons toutes les informations nécessaires sur les magasins.
  + **Si vide**, alors le point de retrait sera considéré comme une adresse quelconque. (L'adresse du client que vous voulez livrer par exemple).
+ **society** *(optional, string)* : Société.
+ **first_name** *(required, string)* : Prénom.
+ **last_name** *(required, string)* : Nom.
+ **email** *(required, string)* : Email.
+ **primary_phone** *(required, string)* : Numéro de téléphone primaire.
+ **secondary_phone** *(optional, string)* : Numéro de téléphone secondaire.
+ **line1** *(required, string)* : Adresse de livraison.
+ **line2** *(optional, string)* : Complément d'adresse.
+ **additional_informations** *(optional, string)* : Informations supplémentaire (digicode, etc.)
+ **zip_code** *(required, string)* : Code postal.
+ **city** *(required, string)* : Ville.
+ **country** *(required, string)* : Pays.
+ **send_delivery_statuses** *(optional, boolean)* : Envoyer les statuts de livraison par sms/email au consommateur.
    + **true** par défaut, dépend cependant de la configuration globale au niveau de l'enseigne lors de la contractualisation avec Colisweb.
+ **send_survey** *(optional, boolean)* : Envoyer  l'enquête de satisfaction au consommateur.
    + **true** par défaut, dépend cependant de la configuration globale au niveau de l'enseigne lors de la contractualisation avec Colisweb.


### Paramètres de requête

+ **api_key** *(required, string)* : Clé API Colisweb
+ **starts_at** *(required, datetime UTC)* : Date et heure de début de la plage de livraison.   
Pour passer une demande en mode "Instantané", passez la date / heure actuelle.   
Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```] garantissent une réponse positive de l'API.   
+ **slot_size** *(required, integer)* : Taille de la plage de livraison demandée (en minutes).   
Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```] garantissent une réponse positive de l'API.
+ **pickup_point** *(required, **Address**)* : Informations sur le point de retrait.
+ **shipping_point** *(required, **Address**)* : Informations sur le point de livraison.
+ **package** *(required, hash)* : Informations sur le colis.
  + **products_description** *(optional, string)* : Typologie / dénomination des produits.   
  Exemple : "micro-onde".
  + **packets** *(required, array of hashes)* : Informations sur les colis
    + **length** *(required, float)* : Longueur du colis (en cm).
    + **width** *(required, float)* : Largeur du colis (en cm).
    + **height** *(required, float)* : Hauteur du colis (en cm).
    + **weight** *(required, float)* : Poids du colis (en grammes).

### Contenu de la réponse

+ **delivery_id** *(string)* - Identifiant de la commande créée.   
**Cet identifiant vous sera nécessaire pour effectuer la confirmation de la commande.**
+ **slot** *(hash)* : Informations de la plage horaire commandée.
  + **starts_at** *(datetime UTC)* : Début d'un créneau horaire.
  + **ends_at** *(datetime UTC)* : Fin d'un créneau horaire.
  + **slot_size** *(integer)* : Taille du créneau horaire (en minutes).
  + **price** *(float)* : Coût HT de la livraison (en euro).
  
### POST

+ Request (application/json)

{
  "api_key": "3025688655a161aeb167b7b33f03c013",
  "starts_at": "2015-04-22T16:00:00+00:00",
  "slot_size": 120,
  "pickup_point": {
    "store_code": "100001",
  },
  "shipping_point": {
    "society": "Twelve factors & C",
    "first_name": "Helmout",
    "last_name": "Ardelpik",
    "email": "helmoutardelpik@gmail.com",
    "primary_phone": "0694385693",
    "secondary_phone": "0354678942",
    "line1": "165, avenue des champs Elysées",
    "line2": "Batiment Leblanc",
    "additional_informations": "Digicode B345, 3 éme etage, accès parking",
    "zip_code": "75001",
    "city": "Paris",
    "country": "France",
    "send_delivery_statuses": true,
    "send_survey": true
  },
  "packaging": {
    "products_description": "Ipad mini",
    "packets": [
      {
        "weight": 1.55,
        "height": 14.55,
        "length": 15.55,
        "width": 16.55
      },
      {
        "weight": 2.55,
        "height": 24.55,
        "length": 25.55,
        "width": 26.55
      }
    ]
  }
}

+ Response 201 (application/json)

{
  "response":{
    "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
    "slot" : {
      "starts_at": "2015-04-22T16:00:00+00:00",
      "ends_at": "2015-04-22T18:00:00+00:00",
      "slot_size": 120,
      "price": 5.55
    }
  }
}

## confirm-delivery [/3/confirm_delivery]

Confirme la commande créée via la methode "book-delivery".

***Attention*** : Un maximum de 15 minutes est autorisé entre l'appel au book-delivery et cet appel.
Au delà une erreur "delivery_has_expired" est renvoyée.

**Exemple d'utilisation :**

Aprés la validation du paiement.

**Un confirm-delivery renvoie les attributs suivants** :

+ ***confirmed*** (boolean) : la valeur "True" indique que la livraison a bien été prise en compte.

**Les paramètres de requête sont les suivants** :

+ **api_key** (required, string) : Clé api client colisweb
+ **delivery_id** (required, integer) : ID commande colisweb récupérée lors de l'appel à la méthode book-delivery
+ **order_ref** (required, string) : Référence commande de votre plateforme  
(permet au transporteur d'identifier le colis à retirer en boutique)
+ **order_id** (optional, string) : ID commande interne à votre plateforme

### Voir les détails d'un book-delivery [PUT]

+ Request (application/json)

            {
                "api_key": "3025688655a161aeb167b7b33f03c013",
                "delivery_id": 1234,
                "order_ref": "R10390",
                "order_id": "987663"
            }


+ Response 201 (application/json)

                {
                    "response":{
                        "confirmed": true
                    }
                }

# Deliveries API Root [/deliveries]


# Group Stores 

## Liste de vos magasins  [/stores]

TODO !

### GET

TODO !


[```/stores```]: #reference/stores/liste-de-vos-magasins
[```/deliveries/options```]: #reference/deliveries/obtenir-les-options-de-livraison-disponbiles
