FORMAT: 1A
HOST: http://sandbox.api.colisweb.com

# Colisweb API v4

Ce document décrit les points d'entrées, appelés **endpoints**, de l'API ainsi que les workflows d'utilisations.   
> **ATTENTION**: Nous nous réservons le droit **d'ajouter** certains attributs tout au long du cycle de vie de cette API.

***
## Autorisations
***
Une clé API est nécessaire pour pouvoir échanger avec l'API.   
Pour obtenir une clé, veuillez en faire la demande à support@colisweb.com.

***
## Environnements et URL
***

Deux environnements sont disponibles:  

+ **Sandbox**: Environnement "bac à sable" pour vos tests avant mise en production.   
> http://sandbox.api.colisweb.com/4/ **end_point**

+ **Production**: Après validation des tests en sandbox.   
> http://api.colisweb.com/4/ **end_point**

**end_point** = Méthodes décrites dans ce document

> ***Les clés API sont différentes selon les deux environnements***

***
## Glossaire
***
### Entités en entrée
***
Nous gérons des **livraisons** partant d'un **point A (pickup)** et arrivant à un **point B (shipping)**.   

Certaines des clés/valeurs des entités décrites dans cette section peuvent être optionnelles ou requises selon les différents *end_points* de l'API.   
Ces notions de required / optional sont indiqués dans la description des *end_points*.

#### L'entité "Route"
***
Spécifie et constitue les informations sur le point de retrait et de livraison.   
+ Une ```Route``` est un array d'entités Point
    
#### L'entité "Point"
***
Spécifie la nature d'un point ainsi que les informations d'addresse.   
Il peut être soit un "point de retrait" soit un "point de livraison" de la marchandise.   

+ Un ```Point``` est composé des attributs suivants:
    + ```type``` *(required, string)*... La nature du point, les valeurs peuvent être :
        + **"pickup"** (point de retrait).
        + **"shipping"** (point de livraison).
    + ```location``` *(required, Location)*... Informations du point.

#### L'entité "Location"
***
Spécifie les informations d'addresse d'un point.   
Une **Location** est un type abstrait décliné selon l'une de ces trois spécialisations concrétes:   

+ Soit une adresse quelconque avec les attributs suivants: 
    + ```type``` *(required, string = "address")* ... Location de type **"address"**
    + ```society``` *(optional, string)*... Société.
    + ```first_name``` *(optional, string)*... Prénom.
    + ```last_name``` *(required, string)*... Nom (ou concaténation prénom + nom).
    + ```email``` *(required, string)*... Email.
    + ```primary_phone``` *(required, string)*... Numéro de téléphone primaire.
    + ```secondary_phone``` *(optional, string)*... Numéro de téléphone secondaire.
    + ```line1``` *(required, string)*... Adresse de livraison.
    + ```line2``` *(optional, string)*... Complément d'adresse.
    + ```additional_informations``` *(optional, string)*... Informations supplémentaire (digicode, ...)
    + ```postal_code``` *(required, string)*... Code postal.
    + ```city``` *(required, string)*... Ville.
    + ```country``` *(required, string)*... Pays.

+ Soit un magasin/entrepôt référencé dans notre système avec les attributs suivants: 
    + ```type``` *(required, string = "store")*... Location de type **"store"**
    + ```store_code``` *(optional, string)*... Code magasin/entrepôt.  
    
    Nous Réferençons vos magasins dans notre système au moment de la signature du contrat.

+ Soit un code postal avec attributs suivants:
    + ```type``` *(required, string = "city")*... location de type **"city"**
    + ```postal_code``` *(required, string)*... Code postal.  


#### L'entité "Slot"
***
Spécifie le créneaux horaire souhaité pour la livraison de la marchandise.   
+ Un **Slot** est composé des attributs suivants:
    + ```starts_at``` *(required, datetime)*... Début du créneau horaire.
    + ```size``` *(required, integer)*... Taille de la plage de livraison (en minutes).

#### L'entité "Packaging"
***
Spécifie les informations de l'ensemble du/des colis constituant la demande de livraison.   
+ Un **Packaging** est composé des attributes suivants:
    + ```global_description``` *(optional, string)*... La description globale du packaging.
    + ```packets``` *(required, array[Packet])*... Les paquets composant le packaging.

#### L'entité "Packet"
***
Spécifie les informations sur un colis   
+ Un **Packet** est composé des attributs suivants:
    + ```description``` *(optional , string)*... La description / référence du paquet.
    + ```length``` *(required, integer)*... Longueur du colis (en millimètres).
    + ```width``` *(required, integer)*.. Largeur du colis (en millimètres).
    + ```height``` *(required, integer)*.. Hauteur du colis (en millimètres).
    + ```weight``` *(required, integer)*.. Poids du colis (en grammes).

***
### Formats de dates
***
Les dates sont au format **ISO 8601 avec indication de fuseau horaire**.   
Exemple: 
```
2015-04-22T12:00:00+02:00
```
***
### Codes erreurs
***
| Error name                | HTTP Status       | Description                       |
| ------------------------  | ----------------  | --------------------------------- |
| wrong_api_key             | 401 Unauthorized  | Clé API manquante / inconnue      |
| missing_parameters        | 400 Bad Request   | Il manque des paramètres          |
| fail_to_confirm_delivery  | 400 Bad Request   | Le commande de livraison a échoué |
| no_delivery_options       | 404 not found     | Aucune disponibilité de livraison |
| missing_delivery          | 404 not found     | Numéro de commande inconnue       |

# Group Commander une livraison

## Obtenir les options de livraison disponibles [/deliveries/options]

Permet de récupérer les options de livraisons disponibles.

### Paramètres de requête

+ ```api_key``` *(required, string)*... Clé API Colisweb.
+ ```slot``` *(optional)*... Entité Slot
    + ```size``` *(optional)* Taille de la plage de livraison demandée en minutes. Exemple : 120 pour une livraison en 2h
Ce paramètre permet d'écraser la valeur configurée par défaut dans notre système.
+ ```route``` *(required)*: Entité Route
    + ```point``` *(required)*... Entité Point
        + ```type``` *(required, Value = pickup)*... Point de **retrait**
        + ```location``` *(required)*... Entité Location.   
        **Si la location est de type "store" et que la valeur passée à "store_code" est nul, Colisweb sélectionne de lui même le magasin de retrait le plus adapté géographiquement parmis ceux référencés.**
    + ```point``` *(required, hash)*... Entité point
        + ```type``` *(required, Value = shipping)*... Point de **livraison**
        + ```location``` *(required, Location)*... Entité Location   
+ ```packaging```*(required)*... Entité Packaging.
    + ```global_description``` *(optional)*
    + ```packets``` *(required)*... Array of Entité Packet.
        + ```description```(*optional)*
        + ```length``` *(required)*
        + ```width``` *(required)*
        + ```height``` *(required)*
        + ```weight``` *(required)*

### Contenu de la réponse

+ ```now``` *(hash)*: Disponibilité de l'offre "instantanée" (au moment de la requête). Vide si aucune disponibilité.
  + ```slot_size``` *(integer)*: Taille du créneau horaire de la livraison "instantanée" (en minutes).
  + ```price``` *(float)*: Coût HT pour ce créneau (en euro).
+ ```calendar``` *(array of hashes)*: . Vide si aucune disponibilité.
  + ```starts_at``` *(datetime UTC)*: Début du créneau horaire de livraison.
  + ```ends_at``` *(datetime UTC)*: Fin du créneau horaire de livraison.
  + ```slot_size``` *(integer)*: Taille du créneau horaire de livraison (en minutes).
  + ```price``` *(float)*: Coût HT de la livraison dans ce créneau (en euro).
  
  
### Voir un exemple de requête pour le cas d'une livraison depuis un magasin référencé vers un code postal [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "size": 120
            },
            "route": [
                {
                    "type": "pickup",
                    "location": {
                        "type": "store",
                        "store_code": "100001"                        
                    }
                },
                {
                    "type": "shipping",
                    "location": {
                        "type": "city",
                        "postal_code": "75001"                        
                    }
                },
            ],
            "packaging": {
                "global_description": "Ensemble set cuisine",
                "packets": [
                    {
                        "description": "micro-onde",
                        "height": 140,
                        "length": 150,
                        "width": 165,
                        "weight": 1000
                    },
                    {
                        "description": "Cafetière",
                        "height": 245,
                        "length": 250,
                        "width": 265,
                        "weight": 2550
                    }
                ]
            }
        }

+ Response 200 (application/json)

        {
            "now": {
                slot_size
            },
            "calendar": [
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 16.00
                },
                {
                    "starts_at": "2015-04-22T12:00:00+02:00",
                    "ends_at": "2015-04-22T14:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00
                },
                {
                    "starts_at": "2015-04-22T14:00:00+02:00",
                    "ends_at": "2015-04-22T17:00:00+02:00",
                    "slot_size": 180,
                    "price": 10.00
                },
                {
                    "starts_at": "2015-04-23T10:00:00+02:00",
                    "ends_at": "2015-04-23T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 16.00
                },
                {
                    "starts_at": "2015-04-23T12:00:00+02:00",
                    "ends_at": "2015-04-23T14:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00
                },
                {
                    "starts_at": "2015-04-23T14:00:00+02:00",
                    "ends_at": "2015-04-23T17:00:00+02:00",
                    "slot_size": 180,
                    "price": 10.00
                }
            ]
        }

## Pre-commander une livraison [/deliveries/book]

Permet d'effectuer une pré-commande de livraison.   
Cette pré-commande sera ensuite à confirmer dans la méthode [Finaliser une commande de livraison](#reference/commander-une-livraison/finaliser-une-commande-de-livraison).

### Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```slot``` *(required, hash)*: Informations sur le slot demandé 
    + ```starts_at``` *(required, datetime UTC)*: Date et heure de début de la plage de livraison.   
    Pour passer une demande en mode "Instantané", passez la date / heure actuelle.   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint **[options de livraison](#reference/commander-une-livraison/obtenir-les-options-de-livraison-disponibles)** garantissent une réponse positive de l'API.   
    + ```slot_size``` *(required, integer)*: Taille de la plage de livraison demandée (en minutes).   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```](#reference/commander-une-livraison/obtenir-les-options-de-livraison-disponibles) garantissent une réponse positive de l'API.

    <!-- TODO Jules : ici ce n'est plus vraiment vrai. Nous n'acceptons plus que les valeurs fournies par /deliveries/options. Trouver une formulation correcte -->

    + ```service_class``` *(required, string)*: Qualité de service sélectionné. 
    
+ ```points``` *(required, array of <strong>Points</strong>)*: Informations sur les points de retrait et de livraison.    
Pour que la demande soit valide, il faut absolument que ce tableau contiennent deux entités ```Point```, l'une ayant comme valeur de ```type``` ```"PICKUP"``` et l'autre  ```"SHIPPING"```.    
*Remarque*: Ce endpoint n'accepte que les entités **Address** et **Store** au sein des **Point**.
+ ```packets``` *(required, array of hashes)*: Informations sur les colis
  + ```product_description``` *(optional, string)*: Typologie/dénomination du/des produits contenue dans ce "packet".   
  Exemple: "micro-onde".
  + ```length``` *(required, integer)*: Longueur du colis (en millimètres).
  + ```width``` *(required, integer)*: Largeur du colis (en millimètres).
  + ```height``` *(required, integer)*: Hauteur du colis (en millimètres).
  + ```weight``` *(required, integer)*: Poids du colis (en millimètres).

### Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison créée
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  **Cet identifiant vous sera nécessaire, notamment, pour effectuer la confirmation de la commande.**
  + ```command_status```: ```"PRE_ORDERED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)


## Exemple de pré-commande de livraison B2C [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                },
                {
                    "type": "SHIPPING",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                }
            ],
            "packaging": {
                "global_description": "Ensemble set cuisine",
                "packets": [
                    {
                        "description": "micro-onde",
                        "weight": 1000,
                        "height": 140,
                        "length": 150,
                        "width": 165
                    },
                    {
                        "description": "Cafetière",
                        "weight": 2550,
                        "height": 245,
                        "length": 250,
                        "width": 265
                    }
                ]
            }
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }


# Finaliser une commande de livraison [/deliveries/{delivery_id}/confirm]

Une fois que vous avez pré-commandé une livraison et que l'API vous a retourné le ```delivery_id``` de votre commande, vous devez la confirmer pour finaliser votre commande.

***Attention***: Un maximum de **15 minutes** est autorisé entre la pré-commande et la confirmation de la commande.   
Au delà, une erreur ```delivery_has_expired``` est renvoyée.

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```primary_order_reference:``` *(required if not C2C, string)*: Référence primaire commande de votre plateforme.   
**Cette référence permet au transporteur d'identifier le colis au moment de la récupération du colis.**
+ ```secondary_order_reference``` *(optional, string)*: Référence secondaire commande de votre plateforme, si vous en avez.

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CONFIRMED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

## Voir un exemple de requête [PUT]

+ Parameters
    + delivery_id - Identifiant de la livraison obtenue lors de la pré-commande

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "primary_order_reference:": "R10390",
            "secondary_order_reference": "987663"
        }

+ Response 200 (application/json)
        
        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CONFIRMED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

# Group Suivi et gestion des livraisons

## Annuler une livraison [/deliveries/{delivery_id}/cancel]

Vous pouvez annuler une livraison jusqu'à un certain stade d'avancement de celle-ci.   
Par exemple, si la livraison est au statut "livrée", elle ne sera pas annulable.

### Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb

### Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CANCELED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

### Voir un exemple de requête [PUT]

+ Parameters
    + delivery_id - Identifiant de la livraison donnée lors de la pré-commande.

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013"
        }

+ Response 200

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CANCELED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

+ Response 400
