FORMAT: 1A
HOST: http://sandbox.api.colisweb.com

# Colisweb API v4

Ce document décrit les points d'entrée, appelés **endpoints**, de l'API que fournit **Colisweb** ainsi que les workflows d'utilisations.

### Autorisations d'accès

Une clé API est nécessaire pour l'utilisation de cette API.   
Afin d'obtenir une clé, vous devez effectuer une demande par mail à support@colisweb.com.

### Environnements

Deux environnements sont disponibles:  

**sandbox**: Environnement "bac à sable" pour vos tests avant mise en production.   
https://sandbox.api.colisweb.com

**production**: Après validation des tests en sandbox.   
https://api.colisweb.com

### URL d'appels

L'URL d'appel à l'API est: 
https://[sandbox.]api.colisweb/4/<strong>end_point</strong>

**end_point** = Méthodes décrites dans ce document

### Codes d'erreurs

| Error name                | HTTP Status       | Description                       |
| ------------------------  | ----------------  | --------------------------------- |
| wrong_api_key             | 401 Unauthorized  | Clé API manquante / inconnue      |
| missing_parameters        | 400 Bad Request   | Il manque des paramètres          |
| fail_to_confirm_delivery  | 400 Bad Request   | Le commande de livraison a échoué |
| no_delivery_options       | 404 not found     | Aucune disponibilité de livraison |
| missing_delivery          | 404 not found     | Numéro de commande inconnue       |

# Entités en entrée

## Introduction

Nous gérons des **livraisons** partant d'un **point A** (pickup) et arrivant à un **point B** (shipping). Nous avons formalisé ces notions de **livraisons** et de **points** dans des entités spécifiques.

<!--
Voici un schéma UML des entités décrites ci-dessous.   
TODO: Mettre à jour le schéma
![alt text](https://photos-5.dropbox.com/t/2/AAA5du9CNqQyOgj7LI5yVEfP0XvJ8ygSmqYD6vSBTx0K5A/12/8290481/png/32x32/1/_/1/2/apiv4_entities_v3.png/EJPblQYYjYkrIAEgAigB/683o8fd9fePEBZxdLwOJycwUXN5g2UTcY48GC0zoAq0?size=1280x960&size_mode=2 "UML des entitées de l'API")
 -->
 
### L'entité "Point"

+ Un **Point** possède deux attributs :
    + **point_type** *(required, enum["pickup", "shipping"])*... La nature du point
    + **location** *(required, Location)*... Information du point

### L'entité "Location"

Une **Location** est un type abstrait qui possède deux spécialisations concrétes:
+ Une **Address** est composée des attributs suivants: 
    + **location_type** *(required, string = "address")*... La nature de la location
    + **society** *(optional, string)*... Société.
    + **first_name** *(optional, string)*... Prénom.
    + **email** *(required, string)*... Email.
    + **primary_phone** *(required, string)*... Numéro de téléphone primaire.
    + **secondary_phone** *(optional, string)*... Numéro de téléphone secondaire.
    + **line1** *(required, string)*.. Adresse de livraison.
    + **line2** *(optional, string)*.. Complément d'adresse.
    + **additional_informations** *(optional, string)*.. Informations supplémentaire (digicode, ...)
    + **postal_code** *(required, string)*... Code postal.
    + **city** *(required, string)*... Ville.
    + **country** *(required, string)*... Pays.
    + **send_command_status** *(optional, boolean)*... Envoyer les statuts de livraison par sms/email au consommateur.
        + **true** par défaut, dépend de la contractualisation avec Colisweb.
    + **send_survey** *(optional, boolean)*... Envoyer  l'enquête de satisfaction au consommateur.
        + **true** par défaut, dépend de la contractualisation avec Colisweb.
+ Un **Store** est composé de l'attribut suivant: 
    + **location_type** *(required, string = "store")*... La nature de la location
    + **store_code** *(required, string)*... Code magasin.  
    
Nous enregistrons les informations de vos magasins dans notre système au moment de la signature du contrat. Seul l'identifiant unique de ce magasin est donc nécessaire pour que nous puissions l'identifier.   

### L'entité "Delivery"

<!-- TODO Jules: Décrire ce qu'est une Delivery -->
<!-- TODO Jules: Decider si l'on renvoie toutes les informations sur la delivery (avec packets && points) ou juste ce qui suit. 
Pour l'instant je suis plutôt partie sur la version minimal (sans packets && points) : 

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CANCELED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }
        -->

# Entités en sortie

<!-- TODO Jules -->

# Types de livraison disponibles

## Introduction

Via notre API, vous êtes en mesure de commander **quatres types de livraisons**:

+ **B2B** (exemple: réapprovisionnement entre magasins)
+ **B2C** (exemple: livraison d'un client final)
+ **C2B** (exemple: retour magasin)
+ **C2C** (exemple: livraison entres deux adresses quelconques)

Nous identifions le type de livraison que vous commandez en regardant avec l'attribut ```address_type``` des **Points** que vous nous envoyez.

## Exemple de paramètre de requête pour du B2B

```
{
    ...
    "points": [
        {
            "point_type": "PICKUP",
            "address_type": "STORE",
            "point" {
                "store_code": "100001"
            }
        },
        {
            "point_type": "SHIPPING",
            "address_type": "STORE",
            "point" {
                "store_code": "100002"
            }
        }
    ]
    ...
}
```

## Exemple de paramètre de requête pour du B2C

```
{
    ...
    "points": [
        {
            "point_type": "PICKUP",
            "address_type": "STORE",
            "point" {
                "store_code": "100001"
            }
        },
        {
            "point_type": "SHIPPING",
            "address_type": "CONSUMER",
            "point": {
                "society": "Twelve factors & C",
                "first_name": "Helmout",
                "last_name": "Ardelpik",
                "email": "helmoutardelpik@gmail.com",
                "primary_phone": "0694385693",
                "secondary_phone": "0354678942",
                "line1": "165, avenue des champs Elysées",
                "line2": "Batiment Leblanc",
                "additional_informations": "Digicode B345, 3 éme etage",
                "postal_code": "75001",
                "city": "Paris",
                "country": "France",
                "send_command_statuses": true,
                "send_survey": true
            }
        }
    ]
    ...
}
```

## Exemple de paramètre de requête pour du C2B

```
{
    ...
    "points": [
        {
            "point_type": "PICKUP",
            "address_type": "CONSUMER",
            "point": {
                "society": "Twelve factors & C",
                "first_name": "Helmout",
                "last_name": "Ardelpik",
                "email": "helmoutardelpik@gmail.com",
                "primary_phone": "0694385693",
                "secondary_phone": "0354678942",
                "line1": "165, avenue des champs Elysées",
                "line2": "Batiment Leblanc",
                "additional_informations": "Digicode B345, 3 éme etage",
                "postal_code": "75001",
                "city": "Paris",
                "country": "France",
                "send_command_statuses": true,
                "send_survey": true
            }
        },
        {
            "point_type": "SHIPPING",
            "address_type": "STORE",
            "point" {
                "store_code": "100002"
            }
        }
    ]
    ...
}
```

## Exemple de paramètre de requête pour du C2C

```
{
    ...
    "points": [
        {
            "point_type": "PICKUP",
            "address_type": "CONSUMER",
            "point": {
                "society": "",
                "first_name": "Alan",
                "last_name": "Turing",
                "email": "alan.turing@gmail.com",
                "primary_phone": "0624243624",
                "secondary_phone": "",
                "line1": "125 rue de Vaugirard",
                "line2": "",
                "additional_informations": "",
                "postal_code": "75015",
                "city": "Paris",
                "country": "France",
                "send_command_statuses": true,
                "send_survey": true
            }
        },
        {
            "point_type": "SHIPPING",
            "address_type": "CONSUMER",
            "point": {
                "society": "Twelve factors & C",
                "first_name": "Helmout",
                "last_name": "Ardelpik",
                "email": "helmoutardelpik@gmail.com",
                "primary_phone": "0694385693",
                "secondary_phone": "0354678942",
                "line1": "165, avenue des champs Elysées",
                "line2": "Batiment Leblanc",
                "additional_informations": "Digicode B345, 3 éme etage",
                "postal_code": "75001",
                "city": "Paris",
                "country": "France",
                "send_command_statuses": true,
                "send_survey": true
            }
        }
    ]
    ...
}
```

# Fuseaux Horaires

Une date en entrée dans notre API n'est valide que si elle respecte le format **ISO 8601 avec indication de fuseau horaire**.   
Exemple: 
```
2015-04-22T12:00:00+00:00
```

Notre API renverra toujours les dates formattées avec ce format, en réutilisant le fuseau que vous nous avez envoyé.    
Par exemple, si vous nous envoyez de l'UTC (+00:00), nous répondrons en UTC

<!-- TODO Jules: A valider ! -->


# Group Gestion et commande de livraisons

# Obtenir les options de livraison disponibles [/deliveries/options]

Permet de récupérer les options de livraisons disponibles.

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb.
+ ```points``` *(required, array of <strong>Point</strong>)*: Informations sur les points de retrait et de livraison.    
Pour que la demande soit valide, il faut absolument que ce tableau contiennent deux entités ```Point```, l'une ayant comme valeur de ```point_type``` ```"PICKUP"``` et l'autre  ```"SHIPPING"```.    
*Remarque*: Ce endpoint n'accepte que les entités **Town** et **Store** au sein des **Point**.
+ ```packets``` *(required, array of hashes)*: Informations sur les colis.
  + ```length``` *(required, float)*: Longueur du colis (en cm).
  + ```width``` *(required, float)*: largeur du colis (en cm).
  + ```height``` *(required, float)*: hauteur du colis (en cm).
  + ```weight``` *(required, float)*: poids du colis (en grammes).

## Contenu de la réponse

+ ```now``` *(array of hashes)*: Disponibilités de l'offre "instantanée". Vide si aucune dispobilité pour l'offre "instantanée".
  + ```slot_size``` *(integer)*: Taille du créneau horaire en minutes de la livraison "instantanée" (en minutes).
  + ```price``` *(float)*: Coût HT de la livraison "instantanée" pour ce créneau (en euro).
  + ```service_class``` *(string)*: Qualité de service pour ce créneau. (Premium, standard, ...)
+ ```planned``` *(array of hashes)*: Disponibilités de l'offre "sur rendez-vous". Vide si aucune dispobilité pour l'offre "sur rendez-vous".
  + ```starts_at``` *(datetime UTC)*: Début du créneau horaire.
  + ```ends_at``` *(datetime UTC)*: Fin du créneau horaire.
  + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
  + ```price``` *(float)*: Coût HT de la livraison dans ce créneau (en euro).
  + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)
  
  <!-- TODO Jules: service_class n'est pas forcément le meilleur nom possible -->
  
## POST

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"                        
                    }
                },
                {
                   "point_type": "SHIPPING",
                   "address_type": "CONSUMER",
                   "point": {
                       "postal_code": "75012"                       
                   }
                }
            ],
            "packets": [
                {
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 200 (application/json)

        {
            "now": [
                {
                    "slot_size": 120,
                    "price": 16.00,
                    "service_class": "premium"
                },
                {
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "slot_size": 180,
                    "price": 10.00,
                    "service_class": "premium"
                },
                {
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                }
            ],
            "planned": [
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 16.00,
                    "service_class": "premium"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 180,
                    "price": 10.00,
                    "service_class": "premium"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T11:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T11:00:00+02:00",
                    "ends_at": "2015-04-22T14:00:00+02:00",
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T12:00:00+02:00",
                    "ends_at": "2015-04-22T14:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                }
            ]
        }

# Pré-commander une livraison [/deliveries/book]

Permet d'effectuer une pré-commande de livraison.   
Cette pré-commande sera ensuite à confirmer dans la méthode [Finaliser une commande de livraison](#reference/gestion-et-commande-de-livraisons/finaliser-une-commande-de-livraison).

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```slot``` *(required, hash)*: Informations sur le slot demandé 
    + ```starts_at``` *(required, datetime UTC)*: Date et heure de début de la plage de livraison.   
    Pour passer une demande en mode "Instantané", passez la date / heure actuelle.   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```](#reference/deliveries/obtenir-les-options-de-livraison-disponbiles) garantissent une réponse positive de l'API.   
    + ```slot_size``` *(required, integer)*: Taille de la plage de livraison demandée (en minutes).   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```](#reference/deliveries/obtenir-les-options-de-livraison-disponbiles) garantissent une réponse positive de l'API.

    <!-- TODO Jules : ici ce n'est plus vraiment vrai. Nous n'acceptons plus que les valeurs fournies par /deliveries/options. Trouver une formulation correcte -->

    + ```service_class``` *(required, string)*: Qualité de service sélectionné. 
    
+ ```points``` *(required, array of <strong>Points</strong>)*: Informations sur les points de retrait et de livraison.    
Pour que la demande soit valide, il faut absolument que ce tableau contiennent deux entités ```Point```, l'une ayant comme valeur de ```point_type``` ```"PICKUP"``` et l'autre  ```"SHIPPING"```.    
*Remarque*: Ce endpoint n'accepte que les entités **Address** et **Store** au sein des **Point**.
+ ```packets``` *(required, array of hashes)*: Informations sur les colis
  + ```product_description``` *(optional, string)*: Typologie/dénomination du/des produits contenue dans ce "packet".   
  Exemple: "micro-onde".
  + ```length``` *(required, float)*: Longueur du colis (en cm).
  + ```width``` *(required, float)*: Largeur du colis (en cm).
  + ```height``` *(required, float)*: Hauteur du colis (en cm).
  + ```weight``` *(required, float)*: Poids du colis (en grammes).

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison créée
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  **Cet identifiant vous sera nécessaire, notamment, pour effectuer la confirmation de la commande.**
  + ```command_status```: ```"PRE_ORDERED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

  
## Exemple de pré-commande de livraison B2B [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100002"
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison B2C [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison C2B [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison C2C [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "",
                        "first_name": "Alan",
                        "last_name": "Turing",
                        "email": "alan.turing@gmail.com",
                        "primary_phone": "0624243624",
                        "secondary_phone": "",
                        "line1": "125 rue de Vaugirard",
                        "line2": "",
                        "additional_informations": "",
                        "postal_code": "75015",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

# Finaliser une commande de livraison [/deliveries/{delivery_id}/confirm]

Une fois que vous avez pré-commandé une livraison et que l'API vous a retourné le ```delivery_id``` de votre commande, vous devez la confirmer pour finaliser votre commande.

***Attention***: Un maximum de **15 minutes** est autorisé entre la pré-commande et la confirmation de la commande.   
Au delà, une erreur ```delivery_has_expired``` est renvoyée.

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```primary_order_reference:``` *(required if not C2C, string)*: Référence primaire commande de votre plateforme.   
**Cette référence permet au transporteur d'identifier le colis au moment de la récupération du colis.**
+ ```secondary_order_reference``` *(optional, string)*: Référence secondaire commande de votre plateforme, si vous en avez.

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CONFIRMED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

## PUT

+ Parameters
    + delivery_id - Identifiant de la livraison obtenue lors de la pré-commande

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "primary_order_reference:": "R10390",
            "secondary_order_reference": "987663"
        }

+ Response 200 (application/json)
        
        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CONFIRMED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }
        


# Annuler une livraison [/deliveries/{delivery_id}/cancel]

Vous pouvez annuler une livraison jusqu'à un certain stade d'avancement de celle-ci.   
Par exemple, si la livraison est au statut "livrée", elle ne sera pas annulable.

<!-- TODO: améliorer le description en disant ce qu'il se passe lorsque l'annulation est refusé.  -->

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CANCELED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

## PUT

+ Parameters
    + delivery_id - Identifiant de la livraison donnée lors de la pré-commande.

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013"
        }

+ Response 200

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CANCELED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

+ Response 400
