FORMAT: 1A
HOST: http://sandbox.api.colisweb.com

# Colisweb API v4

Ce document décrit les points d'entrée, appelés **endpoints**, de l'API ainsi que les workflows d'utilisations.

## Autorisations

Une clé API est nécessaire pour pouvoir échanger avec l'API.   
Pour obtenir une clé, veuillez en faire la demande à support@colisweb.com.

## Environnements

Deux environnements sont disponibles:  

+ **sandbox**: Environnement "bac à sable" pour vos tests avant mise en production.   
http://sandbox.api.colisweb.com

+ **production**: Après validation des tests en sandbox.   
http://api.colisweb.com

***Les clés API sont différentes selon les deux environnements***

## URL

L'URL d'appel à l'API est: 
http://<strong>environnement</strong>.api.colisweb/4/<strong>end_point</strong>

+ **environnement** = environnement sandbox ou production
+ **end_point** = Méthodes décrites dans ce document

# Group Commander une livraison

## Obtenir les options de livraison disponibles [/deliveries/options]

Permet de récupérer les options de livraisons disponibles.

### Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb.
+ ```points``` *(required, array of <strong>Point</strong>)*: Informations sur les points de retrait et de livraison.    
Pour que la demande soit valide, il faut absolument que ce tableau contiennent deux entités ```Point```, l'une ayant comme valeur de ```point_type``` ```"PICKUP"``` et l'autre  ```"SHIPPING"```.    
*Remarque*: Ce endpoint n'accepte que les entités **Town** et **Store** au sein des **Point**.
+ ```packets``` *(required, array of hashes)*: Informations sur les colis.
  + ```length``` *(required, float)*: Longueur du colis (en cm).
  + ```width``` *(required, float)*: largeur du colis (en cm).
  + ```height``` *(required, float)*: hauteur du colis (en cm).
  + ```weight``` *(required, float)*: poids du colis (en grammes).

### Contenu de la réponse

+ ```now``` *(array of hashes)*: Disponibilités de l'offre "instantanée". Vide si aucune dispobilité pour l'offre "instantanée".
  + ```slot_size``` *(integer)*: Taille du créneau horaire en minutes de la livraison "instantanée" (en minutes).
  + ```price``` *(float)*: Coût HT de la livraison "instantanée" pour ce créneau (en euro).
  + ```service_class``` *(string)*: Qualité de service pour ce créneau. (Premium, standard, ...)
+ ```planned``` *(array of hashes)*: Disponibilités de l'offre "sur rendez-vous". Vide si aucune dispobilité pour l'offre "sur rendez-vous".
  + ```starts_at``` *(datetime UTC)*: Début du créneau horaire.
  + ```ends_at``` *(datetime UTC)*: Fin du créneau horaire.
  + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
  + ```price``` *(float)*: Coût HT de la livraison dans ce créneau (en euro).
  + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)
  
  
### Voir un exemple de requête [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"                        
                    }
                },
                {
                   "point_type": "SHIPPING",
                   "address_type": "CONSUMER",
                   "point": {
                       "postal_code": "75012"                       
                   }
                }
            ],
            "packets": [
                {
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 200 (application/json)

        {
            "now": [
                {
                    "slot_size": 120,
                    "price": 16.00,
                    "service_class": "premium"
                },
                {
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "slot_size": 180,
                    "price": 10.00,
                    "service_class": "premium"
                },
                {
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                }
            ],
            "planned": [
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 16.00,
                    "service_class": "premium"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 180,
                    "price": 10.00,
                    "service_class": "premium"
                },
                {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T11:00:00+02:00",
                    "ends_at": "2015-04-22T13:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T11:00:00+02:00",
                    "ends_at": "2015-04-22T14:00:00+02:00",
                    "slot_size": 180,
                    "price": 5.00,
                    "service_class": "standard"
                },
                {
                    "starts_at": "2015-04-22T12:00:00+02:00",
                    "ends_at": "2015-04-22T14:00:00+02:00",
                    "slot_size": 120,
                    "price": 8.00,
                    "service_class": "standard"
                }
            ]
        }

## Pre-commander une livraison [/deliveries/book]

Permet d'effectuer une pré-commande de livraison.   
Cette pré-commande sera ensuite à confirmer dans la méthode [Finaliser une commande de livraison](#reference/gestion-et-commande-de-livraisons/finaliser-une-commande-de-livraison).

### Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```slot``` *(required, hash)*: Informations sur le slot demandé 
    + ```starts_at``` *(required, datetime UTC)*: Date et heure de début de la plage de livraison.   
    Pour passer une demande en mode "Instantané", passez la date / heure actuelle.   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```](#reference/deliveries/obtenir-les-options-de-livraison-disponbiles) garantissent une réponse positive de l'API.   
    + ```slot_size``` *(required, integer)*: Taille de la plage de livraison demandée (en minutes).   
    Vous pouvez passer la valeur que vous souhaitez, cependant seuls les valeurs fournies par le endpoint [```/deliveries/options```](#reference/deliveries/obtenir-les-options-de-livraison-disponbiles) garantissent une réponse positive de l'API.

    <!-- TODO Jules : ici ce n'est plus vraiment vrai. Nous n'acceptons plus que les valeurs fournies par /deliveries/options. Trouver une formulation correcte -->

    + ```service_class``` *(required, string)*: Qualité de service sélectionné. 
    
+ ```points``` *(required, array of <strong>Points</strong>)*: Informations sur les points de retrait et de livraison.    
Pour que la demande soit valide, il faut absolument que ce tableau contiennent deux entités ```Point```, l'une ayant comme valeur de ```point_type``` ```"PICKUP"``` et l'autre  ```"SHIPPING"```.    
*Remarque*: Ce endpoint n'accepte que les entités **Address** et **Store** au sein des **Point**.
+ ```packets``` *(required, array of hashes)*: Informations sur les colis
  + ```product_description``` *(optional, string)*: Typologie/dénomination du/des produits contenue dans ce "packet".   
  Exemple: "micro-onde".
  + ```length``` *(required, float)*: Longueur du colis (en cm).
  + ```width``` *(required, float)*: Largeur du colis (en cm).
  + ```height``` *(required, float)*: Hauteur du colis (en cm).
  + ```weight``` *(required, float)*: Poids du colis (en grammes).

### Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison créée
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  **Cet identifiant vous sera nécessaire, notamment, pour effectuer la confirmation de la commande.**
  + ```command_status```: ```"PRE_ORDERED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

  
### Exemple de pré-commande de livraison B2B [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100002"
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison B2C [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison C2B [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "STORE",
                    "point": {
                        "store_code": "100001"
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

## Exemple de pré-commande de livraison C2C [POST]

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "slot": {
                "starts_at": "2015-04-22T10:00:00+02:00",
                "slot_size": 120,
                "service_class": "standard"
            },
            "points": [
                {
                    "point_type": "PICKUP",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "",
                        "first_name": "Alan",
                        "last_name": "Turing",
                        "email": "alan.turing@gmail.com",
                        "primary_phone": "0624243624",
                        "secondary_phone": "",
                        "line1": "125 rue de Vaugirard",
                        "line2": "",
                        "additional_informations": "",
                        "postal_code": "75015",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                },
                {
                    "point_type": "SHIPPING",
                    "address_type": "CONSUMER",
                    "point": {
                        "society": "Twelve factors & C",
                        "first_name": "Helmout",
                        "last_name": "Ardelpik",
                        "email": "helmoutardelpik@gmail.com",
                        "primary_phone": "0694385693",
                        "secondary_phone": "0354678942",
                        "line1": "165, avenue des champs Elysées",
                        "line2": "Batiment Leblanc",
                        "additional_informations": "Digicode B345, 3 éme etage",
                        "postal_code": "75001",
                        "city": "Paris",
                        "country": "France",
                        "send_command_statuses": true,
                        "send_survey": true
                    }
                }
            ],
            "packets": [
                {
                    "product_description": "Ipad mini",
                    "weight": 1.55,
                    "height": 14.55,
                    "length": 15.00,
                    "width": 16.55
                },
                {
                    "product_description": "Iphone",
                    "weight": 2.55,
                    "height": 24.55,
                    "length": 25.00,
                    "width": 26.55
                }
            ]
        }

+ Response 201 (application/json)

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "PRE_ORDERED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

# Finaliser une commande de livraison [/deliveries/{delivery_id}/confirm]

Une fois que vous avez pré-commandé une livraison et que l'API vous a retourné le ```delivery_id``` de votre commande, vous devez la confirmer pour finaliser votre commande.

***Attention***: Un maximum de **15 minutes** est autorisé entre la pré-commande et la confirmation de la commande.   
Au delà, une erreur ```delivery_has_expired``` est renvoyée.

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb
+ ```primary_order_reference:``` *(required if not C2C, string)*: Référence primaire commande de votre plateforme.   
**Cette référence permet au transporteur d'identifier le colis au moment de la récupération du colis.**
+ ```secondary_order_reference``` *(optional, string)*: Référence secondaire commande de votre plateforme, si vous en avez.

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CONFIRMED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

## Voir un exemple de requête [PUT]

+ Parameters
    + delivery_id - Identifiant de la livraison obtenue lors de la pré-commande

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013",
            "primary_order_reference:": "R10390",
            "secondary_order_reference": "987663"
        }

+ Response 200 (application/json)
        
        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CONFIRMED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

# Group Suivi et gestion des livraisons

# Annuler une livraison [/deliveries/{delivery_id}/cancel]

Vous pouvez annuler une livraison jusqu'à un certain stade d'avancement de celle-ci.   
Par exemple, si la livraison est au statut "livrée", elle ne sera pas annulable.

## Paramètres de requête

+ ```api_key``` *(required, string)*: Clé API Colisweb

## Contenu de la réponse

+ ```delivery``` *(hash)*: Informations sur la livraison confirmé
  + ```delivery_id``` *(string)* - Identifiant de la commande créée.   
  + ```command_status```: ```"CANCELED"```
  + ```slot``` *(hash)*: Informations de la plage horaire commandée.
    + ```starts_at``` *(datetime UTC)*: Début d'un créneau horaire.
    + ```ends_at``` *(datetime UTC)*: Fin d'un créneau horaire.
    + ```slot_size``` *(integer)*: Taille du créneau horaire (en minutes).
    + ```price``` *(float)*: Coût HT de la livraison (en euro).
    + ```service_class``` *(string)*: Qualité de service de ce créneau. (Premium, standard, ...)

## Voir un exemple de requête [PUT]

+ Parameters
    + delivery_id - Identifiant de la livraison donnée lors de la pré-commande.

+ Request (application/json)

        {
            "api_key": "3025688655a161aeb167b7b33f03c013"
        }

+ Response 200

        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CANCELED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }

+ Response 400

# Group Glossaire

# Codes d'erreurs

| Error name                | HTTP Status       | Description                       |
| ------------------------  | ----------------  | --------------------------------- |
| wrong_api_key             | 401 Unauthorized  | Clé API manquante / inconnue      |
| missing_parameters        | 400 Bad Request   | Il manque des paramètres          |
| fail_to_confirm_delivery  | 400 Bad Request   | Le commande de livraison a échoué |
| no_delivery_options       | 404 not found     | Aucune disponibilité de livraison |
| missing_delivery          | 404 not found     | Numéro de commande inconnue       |

# Formats de dates

Les dates sont au format **ISO 8601 avec indication de fuseau horaire**.   
Exemple: 
```
2015-04-22T12:00:00+02:00
```

# Entités en entrée

Nous gérons des **livraisons** partant d'un **point A** (pickup) et arrivant à un **point B** (shipping). Nous avons formalisé ces notions de **livraisons** et de **points** dans des entités spécifiques.

## L'entité "Point"

+ Un **Point** possède deux attributs :
    + **point_type** *(required, enum["pickup", "shipping"])*... La nature du point
    + **location** *(required, Location)*... Information du point

## L'entité "Location"

Une **Location** est un type abstrait qui possède trois spécialisations concrétes:
+ Une **Address** est composée des attributs suivants: 
    + **location_type** *(required, string = "address")*... La nature de la location
    + **society** *(optional, string)*... Société.
    + **first_name** *(optional, string)*... Prénom.
    + **email** *(required, string)*... Email.
    + **primary_phone** *(required, string)*... Numéro de téléphone primaire.
    + **secondary_phone** *(optional, string)*... Numéro de téléphone secondaire.
    + **line1** *(required, string)*.. Adresse de livraison.
    + **line2** *(optional, string)*.. Complément d'adresse.
    + **additional_informations** *(optional, string)*.. Informations supplémentaire (digicode, ...)
    + **postal_code** *(required, string)*... Code postal.
    + **city** *(required, string)*... Ville.
    + **country** *(required, string)*... Pays.
    + **send_command_status** *(optional, boolean)*... Envoyer les statuts de livraison par sms/email au consommateur.
        + **true** par défaut, dépend de la contractualisation avec Colisweb.
    + **send_survey** *(optional, boolean)*... Envoyer  l'enquête de satisfaction au consommateur.
        + **true** par défaut, dépend de la contractualisation avec Colisweb.
+ Un **Store** est composé des attributs suivants: 
    + **location_type** *(required, string = "store")*... La nature de la location
    + **store_code** *(optional, string)*... Code magasin.  
+ Une **City** ext composée des attributs suivants:
    + **location_type** *(required, string = "city")*... La nature de la location
    + **postal_code** *(optional, string)*... Code postal de la ville.  
    
Nous enregistrons les informations de vos magasins dans notre système au moment de la signature du contrat. Seul l'identifiant unique de ce magasin est donc nécessaire pour que nous puissions l'identifier.   

## L'entité "Slot"

+ Un **Slot** est composée des attributs suivants:
    + **starts_at** *(required, datetime UTC)*... Début du créneau horaire.
    + **size** *(required, integer)*... Taille de la plage de livraison (en minutes).

## L'entité "Packaging"

+ Un **Packaging** est composée de deux attributs:
    + **global_description** *(optional, string)*... La description du packaging.
    + **packets** *(required, array[Packet])*... Les paquets composant le packaging.

## L'entité "Packet"

+ Un **Packet** est composée des attributs suivants:
    + **description** *(optional, string)*... La description du paquets.
    + **length** *(required, float)*... Longueur du colis (en cm).
    + **width** *(required, float)*.. Largeur du colis (en cm).
    + **height** *(required, float)*.. Hauteur du colis (en cm).
    + **weight** *(required, float)*.. Poids du colis (en grammes).


# Entités en sortie

## L'entité "Delivery"

+ Une **Delivery** est composée des attributs suivants:
    + **delivery_id** *(optional, string)*... Uuid
    + 

```
        {
            "delivery": {
                "delivery_id": "03355b96-7195-411a-9c3f-3a6a4b6997ce",
                "command_status": "CANCELED",
                "slot": {
                    "starts_at": "2015-04-22T10:00:00+02:00",
                    "ends_at": "2015-04-22T12:00:00+02:00",
                    "slot_size": 120,
                    "price": 5.00,
                    "service_class": "standard"
                }
            }
        }
```
